.Product-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 80px;
}
.image-contianer,
.image,
img {
  width: 90%;
  height: 90%;
}
img {
  object-fit: contain;
}
button {
  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  padding: 8px 26px;
  border-radius: 22px;
  box-shadow: 2px 2px 1px black;
  transition: all 0.2s ease;
  font-size: 1em;
  font-weight: 800;
  margin-top: 30px;
}

button:hover {
  transform: translate(-2px, -1px);
  box-shadow: 7px 7px 1px rgb(0, 0, 0);
  transition: all 0.2s ease-in;
}
.product-title {
  margin-top: 20px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  line-height: 2.5px;
  font-size: 22px;
}
.product-rating-avilability-brand {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.brand {
  font-weight: 600;
}
.ratings {
  display: flex;
  align-items: center;
  gap: 5px;
}
.product-detail,
.details,
p {
  font-size: 17px;
  font-weight: 500;
}
.icon {
  text-align: center;
}
.product-price {
  font-size: 34px;
  font-weight: 600;
  margin-top: 20px;
}
